@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inria+Serif&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inria+Serif:wght@300;400&family=Oswald&display=swap');



/* --------------------------------------------------------------
NAV BAR
----------------------------------------------------------------- */
.nav0 {
    font-size: x-large;
    padding: 1vw;

}

.nav-main {
    display: flex;
    height: 7vh;
    background-color: #EEB01F;
    border-color: #F8D042;
    border-style: solid;
    border-width: 0.5vw;
    font-size: large;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*---------------------------------------------------------------- 
TAGS USED ON MULTIPLE PAGES 
------------------------------------------------------------------*/

:root {
    --golden: #EEB01F;
}

body {
    background-image: url(imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p {

    padding: 0;
    color: white;
    font-family: 'Oswald', sans-serif;
}

h4 {
    color: white;
    font-style: italic;
    font-size: X-large;
    text-decoration: underline rgb(255, 255, 255);
}

h3 {
    color: #FFFFFF;
}

body {
    margin: 0;
}

button {
    width: 6vw;
    height: 2vw;
    background-color: #5C443A;
    border-style: solid;
    border-width: 0.19vw;
    border-color: #EEB01F;

}

.button2 {
    color: white;
    margin: 1vw;
    width: 10em;
    font-size: large;
}

.flex {
    display: flex;

}

h1,
h2 {
    color: white;
    font-size: 40px;
}

a:visited {
    color: #FFFFFF;
}

.dining-text1 {
    background-color: rgba(0, 0, 0, 0.5);

}


/*--------------------------------------------------------
INDEX PAGE
 ---------------------------------------------------------*/
.h-img1 {
    width: 50vw;
    border-style: solid;
    border-color: var(--golden);
    border-width: 0.3vw;
    border-radius: 0.5vw;
    margin: 2vw;
}

.p1 {
    font-style: white;
    font-size: 30px;
    width: 39vw;
}

.h-img2 {
    width: 22vw;
    border-style: solid;
    border-color: var(--golden);
    border-width: 0.3vw;
    border-radius: 0.5vw;
    margin: 1vw;
}


.half-main {
    background-color: rgba(0, 0, 0, 0.5);
    width: 48%;
    height: 24vw;
}

.half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vw;
}

.main-heading {
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.button1 {
    width: 6vw;
}

/*------------------------------
END OF DINING BANNER
 -------------------------------*/
.reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.review1 {
    display: flex;
    flex-direction: row;
    width: 23vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.review2 {
    display: flex;
    flex-direction: row;
    width: 23vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.review3 {
    display: flex;
    flex-direction: row;
    width: 23vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.review4 {
    display: flex;
    flex-direction: row;
    width: 23vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.text-review {
    display: flex;
    flex-direction: column;
}

.ryan {
    display: flex;
    justify-content: center;
    margin: 1vw;
    border-radius: 50%;
    width: 7vw;
    height: 13vh;
}

.isaac {
    border-radius: 50%;
    width: 7vw;
    height: 13vh;
}

.finn {
    border-radius: 50%;
    width: 7vw;
    height: 13vh;
}

.kaiden {
    border-radius: 50%;
    width: 7vw;
    height: 13vh;
}


.p2 {
    font-size: 25px;
}

.b-size {
    font-size: 18px;
}

h5,
h6 {
    color: white;
}

/*------------------------------------------------------
 BOTH PAGES 
 -------------------------------------------------------*/
.both-info {
    display: flex;
    flex-direction: row;
}

.both-img2 {
    width: 45vw;
    border-style: solid;
    border-color: var(--golden);
    border-width: 0.3vw;
    border-radius: 0.5vw;
    margin: 1vw;
}

.before {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0.5vw;
    padding: 1vw;
}

.packages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vw;

}

.package1 {
    background-color: rgba(0, 0, 0, 0.5);
    width: 23%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

li {
    color: white;
    font-size: 20px;
}


.packageimg {
    border-style: solid;
    border-color: #EEB01F;
    border-width: 0.3vw;
    max-width: 20vw;
    display: flex;
    border-radius: 1em;
    margin: 1vw;
}




/*----------------------------------------------------------------
FOOTER SECTION
-----------------------------------------------------------------*/

.bottom {
    display: flex;
    justify-content: space-between;
    background-color: #EEB01F;
    border-style: solid;
    border-width: 0.5vw;
    border-color: #F8D042;
}


.copyright h3 {
    width: 17vw;
}



/*-------------------------------------------------------
MEET THE DINO'S PAGE BELOW
--------------------------------------------------------*/


.flex1 {
    display: flex;
    flex-direction: column;
}


.mtd-img1 {
    width: 30vw;
}

.both-img2 {
    width: 30vw;

}

.jurassicdining {
    width: 20vw;
}

.respectedimg {
    width: 20vw;
}

.sauropodimg {
    width: 20vw;
}

.carnivoreimg {
    width: 20vw;
}

.h-img3 {
    width: 35vw;
    border-style: solid;
    border-color: var(--golden);
    border-width: 0.3vw;
    border-radius: 0.5vw;
    margin: 1vw;
}

.packagesmobile {
    display: none;
}

/*--------------------------------------------------
Above the Lights HTML page CSS 
---------------------------------------------------*/
.prehistoricimg {
    width: 20vw;
}

.privateimg {
    width: 20vw;
}

.nocturnalimg {
    width: 20vw;
}


.li {
    color: #FFFFFF;
}


/* -----------------------------------
OVERLAY STYLES  
-------------------------------------*/

#packageoverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    transition: opacity 500ms ease-in-out;
    opacity: 0;
}

#packageoverlay.visible {
    display: flex;
    opacity: 1;
}

#overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50vw; */
    /* height: 30vh; */
    border: solid 2px #EEB01F;
    background: rgba(35, 97, 84, 1);
    padding: 5em;
    border-radius: 2em;
}

#overlay-close1 {
    color: white;
    display: flex;
    flex-direction: row;
}

.Prehistoricimg {
    width: 25vw;
    height: 25vw;
}

.mtd-who {
    width: 25%;
    height: 25%
}


/* ---------------------------------------------
 CART PAGE
 ----------------------------------------------- */

.cart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cart-background {
    display: flex;
    flex-direction: row;
    padding: 1em;

    background-color: rgba(0, 0, 0, 0.5);
}

.cost {
    align-items: flex-end;
    background-color: whitesmoke;
    width: 40%;
    margin-left: 45%;

}

.guest-dinos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.guest-above {
    display: flex;
    flex-direction: row;

}

.per-ticket {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 5em;
}

.package-cost {
    display: flex;
    justify-content: space-between;
    margin-left: 11em;
}

.cost-div {
    color: black;
}

.cost-color {
    color: black;
}

.p-size {
    font-size: xx-large;
}

/*-------------------------------------------------------------------------------------------- 
ABOUT US PAGE 
----------------------------------------------------------------------------------------------*/

.wrapper {
    display: flex;
    flex-direction: row;
}

.about-c {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-p {
    width: 50%;
    border-style: solid;
    border-width: 0.3em;
    border-color: #EEB01F;
}

.about-back {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 1em;
    width: 75%;
    margin: 4em;
    flex-direction: column;
    align-items: center;
}

/*-------------------------------------------------------------------------------------------- 
RESERVATIONS PAGE
----------------------------------------------------------------------------------------------*/

.Meet-The-Dinos {
    background-color: rgba(0, 0, 0, 0.5);
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-flow: row wrap;
    padding: 7vw;
}


.Above-The-Lights {
    background-color: rgba(0, 0, 0, 0.5);
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-flow: row wrap;
    padding: 7vw;
}

.candy-wrap {
    display: flex;
    justify-content: space-around;
}


/* -------------------------------------------------------------------------------------------
Confirmation
----------------------------------------------------------------------------------------------*/

.confirm-contain {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 14em;
    display: flex;
    flex-direction: column;
    align-items: center;
}





/* -------------------------------------------------------------------------------------------
MOBILE PAGES 
----------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 640px) {

    /* BACKGROUND */
    body {
        background-repeat: repeat-y;
    }

    /* MAIN PAGE */

    .flex {
        flex-wrap: wrap;
    }

    .h-img2 {
        width: 97%;
    }

    .h-img1 {
        width: 95vw;
    }

    .themed-dining {
        display: flex;
        flex-direction: column;
    }

    .p1 {
        width: 90%;
        margin-left: 1em;
        margin-right: 1em;
        font-size: 24px;
    }

    h2 {
        font-size: 30px;
    }

    .reviews {
        display: none;
    }

    .half-main {
        background-color: rgba(0, 0, 0, 0.5);
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 3em;
        margin-left: 1.5em;
    }

    .half {
        display: flex;
        margin-bottom: 1em;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-heading {
        display: flex;
        flex-direction: column;
        padding: 1vw;
    }

    .button1 {
        width: 15vw;
        font-size: medium;
        padding: 0.5em;
        height: auto;
    }

    .b-size {
        font-size: medium;
    }



    /* FOOTER */
    .bottom {
        justify-content: space-between;
    }

    .exper-colum {
        display: flex;
        margin-right: 3em;
        flex-direction: column;
    }

    .copyright h3 {
        width: 17vw;
    }

    .copyright {
        display: none;
    }

    .footerall {
        margin-left: 3em;
        width: 31%;
    }

    /*-------------------------
        ABOUT US PAGE
        ---------------------------*/

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .about-c {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    .about-p {
        width: 50%;
        border-style: solid;
        border-width: 0.3em;
        border-color: #EEB01F;
    }

    .name-mob {
        font-size: xxx-large;
    }

    .about-back {
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        padding: 1em;
        width: 75%;
        margin: 4em;
        flex-direction: column;
        align-items: center;
    }

    /* RESERVATION PAGE */
     .candy-wrap {
        display: flex;
        flex-direction: column;
     }

     .Meet-The-Dinos {
        width: auto;
        margin: 1em;
     }

     .packageimg {
        border-style: solid;
        border-color: #EEB01F;
        border-width: 0.3vw;
        max-width: 70vw;
        display: flex;
        justify-content: center;
        margin-left: 1em;
        border-radius: 1em;
    }

    .Select-button2 {
        width: auto;
        height: auto;
        font-size: large;
        padding: 0.5em;
    }

    .Above-The-Lights {
        width: auto;
        margin: 1em;
    }

    /* MEET THE DINOS PAGE */

    .h-img3 {
        width: 90%;
        margin-top: 1em;
        margin-left: 2em;
    }

    .both-info {
        display: flex;
        flex-direction: row;
        margin-top: 1em;
    }

    .both-img2 {
        display: none;
    }
    
    .packages {
        display: none;
    }

    .packageimg {
        display: flex;
        margin-left: em;
    }
    
    .packagesmobile {
        display: flex;
        flex-direction: column;
    }

    .collapsible {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        background-color: rgba(0, 0, 0, 0.5);
        margin-bottom: 2em;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 50%;
        border: solid;
        border-color: #EEB01F;
        text-align: left;
        outline: none;
        font-size: 15px;
      }
      
      .active, .collapsible:hover {
        background-color: rgba(0, 0, 0, 0.5);
        border-style: solid;
        border-color: #EEB01F;
      }
      
      .content {
        padding: 0 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
      }

      .package-title {
        display: flex;
        justify-content: center;
      }
    /*CART PAGE!!!!!*/

    .cart {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .cart-background {
        display: flex;
        flex-direction: column;

    
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .cost {
        align-items: flex-end;
        background-color: whitesmoke;
        width: 100%;
        margin: 0;
        margin-top: 2em;
    }
    
    .guest-dinos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .guest-above {
        display: flex;
        flex-direction: row;
    
    }
    
    .cost-mobdiv {
        color: black;
    }

.cost-div{
    display: none;
}


    .per-ticket {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-left: 5em;
    }
    
    .package-cost {
        display: flex;
        justify-content: space-between;
        margin-left: 11em;
    }
    
    
    .total-cost {
       margin-left: 60%;
    }

    .button2 {
        color: white;
        margin: 1vw;
        width: 7em;
        height: 1.5em;
        font-size: X-large;
    }
