:root {
    --golden: #EEB01F;
}
main {
    display: flex;
    flex-direction: row;
}

/* Themed dining banner(above the fold) under nav bar */
.h-img1 {
    width: 20vw;
    
}

.ryan {
    width: 10vw;
}

.isaac {
    width: 10vw;
}

.finn {
    width: 10vw;
}

.kaiden {
    width: 10vw;
}


/* Footer section */

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    background-color: #EEB01F;
    border-style:solid;
    border-color: #F8D042;
}

.footerall {

}

.copyright h3{
    width: 17vw;
}



/* Meet the dino html page below */

.mtd-img1 {
    width: 30vw;
}

.mtd-img2 {
    width: 30vw;

}

.jurassicdining {
    width: 20vw;
}

.respectedimg {
    width: 20vw;
}

.sauropodimg {
    width: 20vw;
}

.carnivoreimg {
    width: 20vw;
}

.mtd-main {
    width: 30vw;
}

/* Above the Lights HTML page CSS */
.prehistoricimg {
    width: 20vw;
}

.privateimg {
    width: 20vw;
}

.nocturnalimg {
    width: 20vw;
}

.heightimg {
    width: 20vw;
}